.play-field {
    position: relative;

}

.field {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 12px;
    border: 8px double rgba(0, 0, 0, .5);
}

.background {
    background-image: none;
    background-color: lightgrey;
}

button {
    border-width: 1.5px;
    background: #e1e3e2;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: whitesmoke;
}
button:disabled{

    border-width: 1.5px;
}

.message {
    height: 25vh !important;
    position: absolute;
    width: 100vw;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color: red;
}

#win {
    color: limegreen;
}

.message p {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 3vh;
}

.btn2 {
    text-decoration: none;
    cursor: pointer;
    color: red !important;
    font-weight: bold;
    font-size: 2vw;
    align-self: center;
    width: 23vw;
    display: block;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(130, 249, 209);
}

.btn2:hover {
    background-color: rgba(100, 247, 220, 0.56);
}

.timer,
.flags_amount {
    position: absolute;
    background-color: black;
    padding: 1vh 2vw;
    top: 10%;
    color: red;
    font-family: "Technology";
    border: 6px inset rgba(255, 255, 255, .75);
    box-shadow: 0 0 8px;
}
.timer{
    width: 60%;
}
#timer, #flags_amount {
    position: center;
    font-size: 4em;
}

.timer-container {
    position: relative;
    padding: 10%;
    width: 20%;
    height: 40%;
}

@font-face {
font-family: "Technology";

src: url("../fonts/Technology/Technology.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
