.play-field {
    position: relative;
}

.field {
    display: grid;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border-width: 1.5px;
    color: black;
    background-color: white;
}

.flag {
    background-color: red;
}

.message {
    height: 20% !important;
    position: absolute;
    width: 100vw;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color: red;
}

#win {
    color: limegreen;
}

.message p {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.btn2 {
    text-decoration: none;
    cursor: pointer;
    color: red !important;
    font-weight: bold;
    font-size: 25px;
    align-self: center;
    width: 400px;
    display: block;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(130, 249, 209);
}

.btn2:hover {
    background-color: rgba(100, 247, 220, 0.56);
}

.timer {
    margin-top: 70px;
    color: red;
}
