* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
}

.play-field {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.hello-msg {
    font-size: 20px;
    margin-right: 20px;
}

.field {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border-width: 1.5px;
    background: #e1e3e2;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

button:hover {
    background-color: whitesmoke;
}

ul {
    padding-inline-start: 0px !important;
}

button:disabled {
    border-width: 1.5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: black;
    color: white;
    padding: 0px !important;
}

.message {
    height: 25vh !important;
    position: absolute;
    width: 100vw;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color: red;
}

.nav-elem ul {
    margin-bottom: 0px;
    display: flex;
}

#win {
    color: limegreen !important;
}

.btn_list {
    align-self: center;
}

#win .btn2 {
    color: limegreen !important;
}

.btn_list,li {
    list-style: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(130, 249, 209);
    margin: 50px;
    text-align: center;
}

.message p {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 3vh;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
}

.hello-msg {
    font-size: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none !important;

}
.logo{
     margin-top: -1em;
}

ul {
    padding-inline-start: 0px !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px !important;
}

.nav-elem ul {
    margin-bottom: 0px;
    margin-top: -2em;
    display: flex;
}

.btn_list {
    align-self: center;
}

.btn_list li {
    list-style: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(130, 249, 209);
    margin: 50px;
    text-align: center;
}

.btn_list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 5vh;
    padding: 2vh 4.5vw;
    display: block;
}

.nav-elem ul li {
    list-style: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #66ECE4;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 25px;
    position: relative;
}

.nav-elem li a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    display: block;
}

.logo {
    color: #55E063 !important;
    font-size: 3vw;
    margin-left: 20px;
}

.btn1:hover {
    background-color: rgba(100, 247, 220, 0.56);
}

.btn1:hover a {
    padding: 1.5vh 5.5vw;
    font-size: 5.5vh;
}

.container {
    width: 30% !important;
    margin-bottom: auto;
    margin-top: 10vh;
    border-style: solid;
    border-width: 3px;
    border-color: #6BF5DC;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.category {
    width: 35%;
    margin-right: 20px;
}

.input-box {
    margin-bottom: 20px;
}

.login_btn {
    font-size: 20px;
    font-weight: bold;
    color: black !important;
    border-style: solid;
    border-width: 3px;
    border-color: #6BF5DC;
    border-radius: 7px;
    padding: 5px 20px;
}

.drop-down {
    display: none;
    margin-top: 2px;
    background-color: black;
}

.drop-down ul {
    display: block;
    margin: 10px;
}

.drop-down ul li {
    border: none;
    padding-right: 60px;
}

.navbar ul li:hover .drop-down {
    display: block;
    position: absolute;
    right: -25px;
    top: 100%;
}

.drop-down ul li:hover {
    background-color: rgb(55, 55, 55);
}