{% extends 'users/base.html' %}
{% load static %}
{% block title %}Minesweeper{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/styles/main.css' %}">
    <ul class='btn_list'>
        {% if user.is_authenticated %}                   
            <li class='btn1'><a href="{% url 'level' %}">Play</a></li>
            <li class='btn1'><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class='btn1'><a href="{% url 'login' %}">Play</a></li>
        {% endif %}
    </ul>
{% endblock content %}
